body{
	background:lightgrey;
	padding-right:100px;
	padding-left:100px;
	float:left;
}

img{
	height:80px;
	width:300px;
}

ul{
	list-style-type: none;
}

li{
display: inline;
text-align:center;
padding:13px;
}

nav{
	border: 1px solid grey;
	background-color: grey;
	text-align: left;
	
}

/*nav a{
	
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
	
}*/

li a{
	text-decoration: none;
	margin: 5px;
	color: white;
	}
	
	div{
		padding :2px;
	}

.total{
	display:flex;

}


.left{
	width:57%;
	float:left;
	
}


.left-side{
	background-color:white;
}
	
	

.left-side h2{
	color:red;
}

i{
	color: #999999;
}



.left-side h2{
	color:red;
}


.right{
	width:42%;
	float:right;
	margin-left:auto;
	
}

.right-side, .left-side {
	background-color:white;
	padding:2%;
	margin-top:1%;
}


.right-side h3{
	padding:29px;
}

footer{
	border:2px solid grey;
	background-color:grey;
	padding-left:2%;
	margin-top:2%;
}

span{
	color:red;
}

@media screen and (max-width:800px) {
 body{
		padding-left:20px;
		padding-right:20px;
		float:none;
	}
	  
	  
	  li{
		display: block;
		text-align: center;
	}
	
	.right-side, .left-side{
		
		width: 100%;

	}
	
	.left{
		padding-left:20px;
		padding-right:20px;
		float:none;
	}
	
	.right{
		padding-left:20px;
		padding-right:20px;
		float:none;
	}
}
		
	 
	

	
	










 

